*
{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: linear-gradient(to left,rgb(120, 58, 255) ,rgb(160, 213, 240));
    background-attachment: fixed;
}
table
{
    width: 1500px;
    border:3px solid black;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    border-collapse: collapse;
}
tr
{
 width: 100%;
}
th
{
  font-weight: bold;
  font-size:x-large;
}
td
{
  font-weight: bold;
  font-size:large;
}